<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-color: lightpink">
    <center>
        <h1 style="font-family: Impact">
            Python Flask ❤ PostgreSQL Database
        </h1>
        <h3>⭐ 
            <a href="https://github.com/LintangWisesa" 
            style="font-family: Arial" 
            target="_blank">
                @lintangwisesa
            </a>
        </h3>
    </center>
</body>
</html>